@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background: rgb(13, 106, 134);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    height: 35vh;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-clock {
    height: 20vh;
    display: flex;
    align-items: center;
}

.clock {
    font-size: 3.5rem;
}

.box-btn button {
    width: 13vw;
    height: 5vh;
    font-size: 1.1rem;
    padding: 0.2rem;
    border: 1px solid rgb(13, 106, 134);
    border-radius: 0.5rem;
    background-color: rgb(13, 106, 134);
    color: aliceblue;
    cursor: pointer;
}

.pausado{
    color: rgb(216, 58, 58);
}