@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --primary-color:  rgb(13, 106, 134)
    --primary-color-darker:  rgb(9, 48, 56)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: rgb(13, 106, 134);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
}

/* .box-forms{
    display: flex;
    flex-direction: column;
} */

.box-list {
    padding-left: 1.5rem;
}

.formulario{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.formulario input{
    height: 2.5rem;
    font-size: 1.3rem;
}

.ipt-button{
    color: #ffffff;
    height: 2.5rem;
    background-color: rgb(2, 56, 73);
}

.box-txts {
    padding-top: 3rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.error-text {
    font-size: 12px;
    color: red;
}

